body {
  font-family: 'News Cycle', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}

a:hover {
  font-size: medium;
  text-decoration: underline;
}

.bg-black {
  background-color: black;
}

.blog-header-logo {
  font-size: 50px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

.italic-heading {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

.solo {
  display: block;
}

.tagline {
  color: black;
  font-weight: 800;
  font-family: 'News Cycle';
  text-decoration: none;
  letter-spacing: 0.25px;
  vertical-align: super;
  font-size: medium;
}

.caption {
  font-size: 10px;
  text-align: right;
  font-weight: bold;
  color: black;
  margin: auto 0;
}

.img-holder {
  background-color: lightgray;
  height: 100% !important;
}

.img-main {
  background-size: cover;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  margin: 0 0 20px 0;
}

.post {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
}
.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 !important
}

.post-main {
  background-image: url("https://images.pexels.com/photos/1154861/pexels-photo-1154861.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  filter: grayscale(0);
  background-position: left;
}

.post-1 {
  background-image: url('https://images.pexels.com/photos/5558228/pexels-photo-5558228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.post-2 {
  background-image: url('https://images.pexels.com/photos/5185596/pexels-photo-5185596.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-position: center;

}

.post-3 {
  background-image: url('https://images.pexels.com/photos/2323113/pexels-photo-2323113.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.post-4 {
  background-image: url('https://images.pexels.com/photos/907685/pexels-photo-907685.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  filter: grayscale(0);

}
.post-5 {
  background-image: url('https://images.pexels.com/photos/1377452/pexels-photo-1377452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.post-1:hover,
.post-2:hover,
.post-3:hover,
.post-4:hover,
.post-5:hover {
  filter: grayscale(0);
}

p {
  width:90%;
  
  /**Major Properties**/
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  }

  .row-mod {
    display: flex;
    flex-wrap: wrap;
  }


@media only screen and (min-width: 320px) and (max-width: 480px){
  main {
    min-width: 320px;
  }
 
}

