body {
  font-family:'News Cycle', sans-serif;
}

/*-- HEADINGS -- */
h1 {
  font-family:'Old Standard TT', serif;
  font-size:4rem;
  font-style:italic;
  font-weight:400;
  text-decoration:none;
}
h3 {
  border-bottom:0.01rem solid rgba(255,255,255,0.774);
  font-family:'Old Standard TT', serif;
  font-style:italic;
  padding-bottom:1rem;
}

/*-- TEXT --*/
p {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 2rem;
  max-height: 8rem;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width:90%;
  }

/*-- LINKS --*/

a {
  color:#000;
  font-size:smaller;
  font-weight:700;
  text-decoration:none;
}
a:hover {
  color:#000;
  font-size:medium;
}
a img {
  height:auto;
  width:15%;
}
a p {
  color:#000;
  font-family:'News Cycle';
  font-size:medium;
  font-weight:800;
  letter-spacing:.25px;
  margin:0 auto;
}

/*-- LAYOUT --*/
.main {
  background-color:#000;
  margin:0 0 20px;
  width:100%;
}


/*-- ARTICLE PREVIEW:  IMAGES--*/
.article-img-caption {
  background-color:#D3D3D3;
  color:#000;
  font-size:10px;
  font-weight:700;
  margin:auto 0;
  text-align:right;
}
.article-img {
  filter:grayscale(0);
  height:clamp(270px,450px,530px);
  object-fit:cover;
  padding:0!important;
  width:100%;
}
.article-img:hover {
  filter: grayscale(1);
}



/*-- MEDIA QUERY --*/
@media only screen and (min-width: 320px) and (max-width: 480px){
  main {
    min-width: 320px;
  }
}

